---
import {
    GitHubDark
} from 'developer-icons';

import './footer.sass'
---

<footer>
    <div class="container">
        <div class="info">
            <div>© {new Date().getFullYear()} Iván Izarza</div>
            <div>Desarrollador Web Full Stack</div>
            <a
                href="https://github.com/ivanZarza"
            ><GitHubDark />GitHub</a>
        </div>
    </div>
</footer>