---
import profileImg from '../../assets/ivanZarza-profile.jpg';

import './header.sass'
---

<header>
    <div class="container">
        <div class="profile-img">
            <img src={'.' + profileImg.src} alt="Iván Zarza" />
        </div>
        
        <h1>Iván Zarza</h1>
        <h5>Desarrollador Web Full Stack</h5>

        <p>Certificado en <em>JavaScript</em>, React, Angular, Node.js, SQL y MongoDB, con especialización en Vue.js y experiencia en JAMstack. Combino competencias técnicas sólidas con habilidades interpersonales adquiridas en hostelería: gestión bajo presión, atención al cliente y trabajo en equipo. Mi enfoque es el aprendizaje continuo y crear soluciones web orientadas al usuario y negocio.</p>
    </div>
    <div class="container soft-skills">
        <ul>
            <li>Trabajo en equipo</li>
            <li>Empatía y comunicación</li>
            <li>Aprendizaje continuo</li>
            <li>Orientación a resultados</li>
        </ul>
    </div>
</header>