---
import {
	JQuery,
	React,
	VueJs,
	Angular,
	NodeJs,
	ExpressJsDark,
	MongoDB,

	HTML5,
	CSS3,
	JavaScript,
	Sass,
	Git,
	GitHubDark,
	PostgreSQL,
	MySQL,
	FlaskDark,
	ViteJS,
	VercelDark,
} from 'developer-icons';

import AivenLogo from '../../assets/dev-icons/aiven-logo.svg';
import GithubActionsLogo from '../../assets/dev-icons/gitHub-actions.svg';

import './skills.sass';
---

<section class="skills">
    <div class="container">
        <ul class="skills-list primary">
            <li>
                <JQuery />
                jQuery
            </li>
            <li>
                <VueJs />
                Vue.js
            </li>
            <li>
                <Angular />
                Angular
            </li>
            <li>
                <React />
                React
            </li>
            <li>
                <NodeJs />
                Node.js
            </li>
            <li>
                <ExpressJsDark />
                Express.js
            </li>
            <li>
                <MongoDB />
                MongoDB
            </li>
        </ul>

        <ul class="skills-list secondary">
            <li>
                <HTML5 />
                HTML5
            </li>
            <li>
                <CSS3 />
                CSS3
            </li>
            <li>
                <JavaScript />
                JavaScript
            </li>
            <li>
                <Sass />
                Sass
            </li>
            <li>
                <Git />
                Git
            </li>
            <li>
                <GitHubDark />
                GitHub
            </li>
            <li>
                <img
                    src={'.' + GithubActionsLogo.src}
                    class="dev-icon" alt="GitHub Actions logo"
                />
                GitHub Actions
            </li>
            <li>
                <PostgreSQL />
                PostgreSQL
            </li>
            <li>
                <MySQL />
                MySQL
            </li>
            <li>
                <FlaskDark />
                Flask
            </li>
            <li>
                <ViteJS />
                Vite.js
            </li>
            <li>
                <VercelDark />
                Vercel
            </li>
            <li>
                <img
                    src={'.' + AivenLogo.src}
                    class="dev-icon" alt="Aiven logo"
                />
                Aiven
            </li>
        </ul>
    </div>
</section>