---
import './training.sass';
---

<section class="training">
    <div class="container">
        <ul class="courses-list">
            <li>
                <div class="course-title">
                    Bootcamp Codenotch (275h)
                </div>
                <div class="course-details">
                    European Digital Credentials en JavaScript, React, Angular, Node.js, MongoDB e IA
                </div>
            </li>

            <li>
                <div class="course-title">
                    Diseño Web para Hostelería (100h)
                </div>
                <div class="course-details">
                    Layout, HTML5, CSS3, tipografía, UX/UI sectorial
                </div>
            </li>

            <li>
                <div class="course-title">
                    Certificado Profesional Grado C
                </div>
                <div class="course-details">
                    Confección y Publicación de Páginas Web
                </div>
            </li>

            <li>
                <div class="course-title">
                    Certificado Profesional Grado C
                </div>
                <div class="course-details">
                    Operaciones Auxiliares de Servicios Administrativos y Generales
                </div>
            </li>
        </ul>
    </div>
</section>